body { 
    font-family: Arial, sans-serif; 
    background-color: #282c34; 
    color: #fff;
}

h1 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.container { 
    width: 80%; 
    margin: auto; 
    padding: 20px; 
    display: flex;
    height: 100vh;
}

input[type="file"], button, input[type="checkbox"] + label {
    margin: 10px;
}

#log-preview {
    width: 100%; /* 默认宽度调整为100% */
    margin-top: 20px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    max-height: 500px;
    overflow-y: auto; /* 增加滚动以适应高度限制 */
}

#logContent {
    white-space: pre-wrap;
    color: #ccc;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 8px;
    max-height: 450px;
    overflow-y: auto; /* 确保内容可以滚动 */
}

/* 添加媒体查询以实现响应式调整 */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* 改为垂直布局 */
        height: auto; /* 自动调整高度 */
    }

    .left-side, .right-side {
        flex: 1; /* 各占据一部分空间 */
        width: 100%; /* 调整为100%宽度 */
    }

    #log-preview {
        max-height: none; /* 移除高度限制 */
        margin-bottom: 20px; /* 增加底部间距 */
    }
}

/* 针对更小屏幕优化 */
@media (max-width: 480px) {
    button {
        width: 100%; /* 按钮全宽 */
    }

    .role-item {
        flex-direction: column; /* 调整为垂直布局 */
        align-items: stretch; /* 调整子元素对齐方式 */
    }

    .role-item input[type="text"] {
        margin-bottom: 8px; /* 增加垂直间距 */
    }
}


.left-side {
    flex: 1; /* 左侧部分占据一半的空间 */
}

.right-side {
    flex: 1; /* 左侧部分占据一半的空间 */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #61dafb;
    color: #282c34;
}

button:hover {
    background-color: #21a1f1;
}

input[type="checkbox"] {
    margin-right: 5px;
}

#oocSymbols {
    margin-left: 20px;
    display: none;
}

#removeOOC:checked + #oocSymbols {
    display: block;
}

.role-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.role-item input[type="text"] {
    flex: 1;
    padding: 4px;
    margin-right: 8px;
}

.role-item button {
    padding: 4px 8px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.output {
    display: flex; /* 启用Flexbox布局 */
    flex-wrap: wrap; /* 允许元素换行 */
    gap: 10px; /* 设置元素之间的间隔 */
}

.output-item {
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #1e1e1e;
    color: #ccc;
}
